.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.primary,.caution,.danger{
  width: 10%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  border-radius: 3px;
  margin: 10px;
}
.primary{
  background-color: #3498db;
  border: 1px solid #2980b9;
}
.caution{
  background-color: #f1c40f;
  border: 1px solid #f39c12;
}
.danger{
  background-color: #e74c3c;
  border: 1px solid #c0392b;
}
.title{
  border: 1px solid #e67e22;
  background-color: #d35400;
  color:white;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  text-align: center
}
.component{
  width: 90%;
  margin: 20px auto;
  border:1px solid grey;
  padding: 20px;

}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
